# This is an example parameter file used with the openshift templates.
#
# Copy this file to marketplace.git/openshift/parameters and remove the .deploy.example extension.
# Modify/Add/Comment/Uncomment out any values you want to change.
#
DATABASE_USER=marketplaceadmin
DATABASE_SERVICE_NAME='marketplace-db'
